---
import Layout from '../layouts/Layout.astro'
import { ContactForm } from '../components/ContactForm'
import ContactButtons from '../components/ContactButtons.astro'
import type { FormKeys } from '../data/types'

const formKeys: FormKeys = {
	serviceId: import.meta.env.PUBLIC_EMAILJS_SERVICE_ID,
	templateId: import.meta.env.PUBLIC_EMAILJS_TEMPLATE_ID,
	publicKey: import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY,
}
---

<Layout title="Contact Me">
	<article class="min-h-section max-w-screen-lg m-auto p-4 sm:p-6 relative">
		<h1 class="text-2xl sm:text-4xl font-bold text-gray-300">
			Contact me!
		</h1>

		<ContactForm client:visible formKeys={formKeys} />

		<ContactButtons customBadgeClass="p-2 bg-lightgray text-black" />
	</article>
</Layout>
