---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
    <main class="">
        <object
            type="image/svg+xml"
            data="rocket2.svg"
            class="-rotate-45 launch fixed left-0 right-0 ml-auto mr-auto"
        ></object>
        <div
            class="flex fixed launch-section items-center flex-col text-white p-5 z-200 max-w-screen overflow-x-hidden overflow-y-auto left-0 right-0 ml-auto mr-auto"
        >
            <img
                src="/pablo.png"
                alt=""
                class="max-w-80 max-h-80 md:max-w-96 md:max-h-96 size-in rounded-full shadow-[0_0_10px_5px] shadow-gray-500"
            />
            <div class="flex">
                <h1
                    class="type-in type-in-1 text-6xl font-bold text-center pt-4"
                >
                    Frontend
                </h1>
            </div>
            <div class="flex">
                <h1
                    class="type-in type-in-2 text-6xl font-bold text-center pt-4"
                >
                    Architect
                </h1>
            </div>
        </div>
    </main>
</Layout>

<style lang="scss">
    .launch {
        width: 20rem;
        height: 20rem;
        animation: launch 3.5s linear 1s forwards;
        top: -100%;
        margin-top: -3.5rem;
    }

    @keyframes launch {
        0% {
            top: 100%;
        }
        25% {
            top: 35%;
        }
        50% {
            top: 20%;
        }
        100% {
            top: -100%;
        }
    }

    .launch-section {
        max-height: calc(100vh - 14rem);
        animation: launchsection 3.5s linear 1s forwards;
        // jumpout 1.5s ease-in 2.5s;
        top: 100%;
        transform: translate(0, 0);
    }

    @keyframes launchsection {
        0% {
            top: 100%;
            transform: translate(0, 0);
        }
        25% {
            top: 35%;
            transform: translate(0, 0);
        }
        50% {
            top: 20%;
            transform: translate(0, 0);
        }
        70% {
            top: 20%;
            transform: translate(0, 0);
        }
        100% {
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    .size-in {
        width: 4.5rem;
        height: 4.5rem;
        animation:
            sizein 1s linear 3.5s forwards,
            float 6s linear infinite 6s;
    }

    .show-up {
        opacity: 0;
        animation: showup 0s linear 6s forwards;
    }

    @keyframes showup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes sizein {
        0% {
            width: 4.5rem;
            height: 4.5rem;
        }
        100% {
            width: 24rem;
            height: 24rem;
        }
    }

    @keyframes jumpout {
        0% {
            transform: translate(0, 0);
        }
        20% {
            transform: translate(5rem, -3rem);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .floating {
        transform: translate(0, 0);
        animation: float 6s linear 2.5s infinite;
    }

    @keyframes float {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(0, -4px);
        }
        50% {
            transform: translate(-4px, -6px);
        }
        75% {
            transform: translate(1px, -7px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .type-in {
        overflow: hidden;
        border-right: 0.1em solid white;
        white-space: nowrap;
        margin: 0 auto;
        opacity: 0;
    }

    .type-in-1 {
        animation:
            showup 0s linear 5s forwards,
            typing 1s steps(10, end) 5s,
            blink-caret 1s step-end 5s forwards;
    }

    .type-in-2 {
        animation:
            showup 0s linear 6s forwards,
            typing 1s steps(10, end) 6s,
            blink-caret 1s step-end 6s forwards;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: white;
        }
    }
</style>

<script>
    document.addEventListener
</script>
