---
import Section from '../components/Section.astro'
---

<Section title="About me" wrapperClass="bg-[#181818]" idName="about">
    <article class="pt-12 text-lg">
        <p>I'm Pablo, a Software Engineer with 10 years of experience.</p>

        <p class="pt-8">
            Over the years I have worked for many different companies, from
            startups to multinationals, for different industrial areas.
        </p>

        <p class="pt-8">
            I love to develop code and teams that create solutions through
            technical excellence. Mastering the art of making trade-offs between
            cost and benefit, I always put quality over quantity, delivery over
            promises.
        </p>

        <p class="pt-8">
            I have extensive experience working in Agile environments, giving
            mentorship and training other developers.
        </p>

        <p class="pt-8">
            I make sure to always maintain healthy communication between the
            product/stakeholders and the development side and have a constant
            delivery/review/validation process.
        </p>
    </article>
</Section>
