---
import { Icon } from 'astro-icon/components'

interface Props {
	icon: string
	title: string
	iconType: 'path' | 'html'
	customClass?: string
	large?: boolean
}

const { icon, title, iconType, customClass, large } = Astro.props
---

<div class=`${customClass} rounded-3xl flex flex-row p-1 m-1 items-center`>
	<div class:list={[{ 'size-8': large }, { 'size-6': !large }, ' flex p-1 ']}>
		{iconType === 'html' && <Fragment set:html={icon} />}
		{iconType === 'path' && <Icon name={icon} class="w-full h-full" />}
	</div>
	<p class="px-2 text-sm m-auto">{title}</p>
</div>
