<div class="p-8 relative h-28 z-10">
    <p class="text-center text-white">Pablo Sande Pena © 2024</p>
    <div class="flex items-center justify-center space-x-2 mt-3">
        <a href="" class="text-white">Something</a>
    </div>
</div>
