<div class="flex flex-col items-center justify-center p-8 relative h-28 z-10">
	<a href="#top" class="text-white">Back to top</a>

	<div
		class="flex flex-row items-center justify-between w-full max-w-md space-x-2 mt-3"
	>
		<p class="text-center text-white">Pablo Sande © 2024</p>
		<p class="text-center text-white">Some rights reserved</p>
	</div>
</div>
